<!DOCTYPE html>
<html lang="es" data-mx-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <MachSoftCoreAssets />
    <MxControlAssets IncludeCoreAssets="false" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="ms-showcase-app">
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/MachSoft.Template.Core/js/theme.js"></script>
    <script>
        window.machsoftTheme?.init();
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
