<!DOCTYPE html>
<html lang="es" data-mx-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="_content/MachSoft.Template.Core/css/machsoft-template-core.css" />
    <link rel="stylesheet" href="_content/MachSoft.Template.Core/css/template/design-system/themes/light.css" />
    <link rel="stylesheet" href="_content/MachSoft.Template.Core/css/template/design-system/themes/dark.css" />
    <link rel="stylesheet" href="_content/MachSoft.Template.Core.Control/css/machsoft-template-core-control.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/MachSoft.Template.Core/js/theme.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
