@page "/Error"

<PageTitle>Error</PageTitle>

<MxCard Title="Error inesperado" Variant="SurfaceVariant.Outlined">
    <ChildContent>
        <p>Ocurrió un error mientras se renderizaba el Showcase.</p>
    </ChildContent>
</MxCard>
