@page "/"

<h1>MachSoft.Template.Core.Control.Showcase</h1>
<ul>
    <li><a href="/showcase/inputs">/showcase/inputs</a> (ruta histórica)</li>
    <li><a href="/families/inputs">/families/inputs</a> (catálogo por familia)</li>
    <li><a href="/families/selection">/families/selection</a> (alias semántico)</li>
</ul>
