@page "/"

<h1>MachSoft.Template.Core.Control.Showcase</h1>
<ul>
    <li><a href="/showcase/inputs">/showcase/inputs</a> (inputs avanzados)</li>
    <li><a href="/showcase/feedback">/showcase/feedback</a> (feedback y loading)</li>
    <li><a href="/showcase/navigation">/showcase/navigation</a> (menu y tabs)</li>
</ul>
