.idea/
.vs/
*.user
*.suo
*.userosscache

[Dd]ebug/
[Rr]elease/
**/bin/
**/obj/
artifacts/

build/builder/
source/packages/
source/TestResults/
/build/compilacion.log

node_modules/
tests/e2e/node_modules/

*.nupkg
*.snupkg

# Keep generated screenshots or ad-hoc assets out of version control.
*.png
!design/**
