<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MachSoftPrivate" value="https://machsoftprivatenugetfeedweb20260322125924-faefaqheg2b4ckey.mexicocentral-01.azurewebsites.net/v3/index.json" protocolVersion="3" />
  </packageSources>

</configuration>
