@namespace MachSoft.Template.Core.Components.Foundation

<nav class="ms-mx-breadcrumb" aria-label="Breadcrumb">
    <ol>
        @foreach (var item in Items)
        {
            var isCurrent = item.IsCurrent;
            <li>
                @if (isCurrent)
                {
                    <span aria-current="page">@item.Text</span>
                }
                else if (item.Disabled || string.IsNullOrWhiteSpace(item.Href))
                {
                    <span class="ms-mx-breadcrumb__muted">@item.Text</span>
                }
                else
                {
                    <a href="@item.Href">@item.Text</a>
                }
            </li>
        }
    </ol>
</nav>

@code {
    [Parameter] public IEnumerable<MxBreadcrumbItem> Items { get; set; } = Array.Empty<MxBreadcrumbItem>();
}
