@namespace MachSoft.Template.Core.Components.Foundation

<MxPanel Title="@Title" Variant="@Variant" IsCompact="@IsCompact" HeaderActions="@Actions">
    <div class="ms-mx-search-panel__content">
        @ChildContent
    </div>
</MxPanel>

@code {
    [Parameter] public string? Title { get; set; } = "Búsqueda";
    [Parameter] public bool IsCompact { get; set; }
    [Parameter] public SurfaceVariant Variant { get; set; } = SurfaceVariant.Outlined;
    [Parameter] public RenderFragment? Actions { get; set; }
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
}
