<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/acfbcd26-7aff-47e0-89a3-b72f69c342a9/resourcegroups/DESARROLLO/providers/Microsoft.Web/sites/MachSoftPrivateNuGetFeedWeb20260322125924</ResourceId>
    <ResourceGroup>DESARROLLO</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://machsoftprivatenugetfeedweb20260322125924-faefaqheg2b4ckey.mexicocentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ab9a9dd4-f1ad-48b3-bde3-394c46e0e99f</ProjectGuid>
    <PublishUrl>https://machsoftprivatenugetfeedweb20260322125924-faefaqheg2b4ckey.scm.mexicocentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>