@namespace MachSoft.Template.Core.Components.Foundation

<header class="ms-mx-page-header">
    <div class="ms-mx-page-header__main">
        <h1>@Title</h1>

        @if (!string.IsNullOrWhiteSpace(Description))
        {
            <p>@Description</p>
        }

        @if (Metadata is not null)
        {
            <div class="ms-mx-page-header__metadata">
                @Metadata
            </div>
        }
    </div>

    @if (Actions is not null)
    {
        <div class="ms-mx-page-header__actions">
            @Actions
        </div>
    }
</header>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;
    [Parameter] public string? Description { get; set; }
    [Parameter] public RenderFragment? Metadata { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }
}
