html, body {
  margin: 0;
  font-family: var(--ms-font-family);
  background: var(--ms-color-bg);
  color: var(--ms-color-text);
}

a { color: inherit; }

h1,h2,h3,p { margin: 0; }

.ms-title { font-size: 1.35rem; margin-bottom: .25rem; }
.ms-subtitle { color: var(--ms-color-text-soft); }
.ms-text-lg { font-size: 1.1rem; font-weight: 600; }
