<header class="ms-section-title">
    <h3>@Title</h3>
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <p>@Description</p>
    }
</header>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;
    [Parameter] public string? Description { get; set; }
}
